<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card strpied-tabled-with-hover" *ngIf="!tableStatus()">
          <div class="card-header ">
            <div class=" m-1  alert alert-primary d-flex align-items-center" role="alert">
              <svg class="bi flex-shrink-0 me-2" width="50" height="50" role="img" aria-label="Info:"><use xlink:href="#info-fill"/></svg>
              <p class="h1 text-center">
                Il n'a y pas des demandes acceptées pour l'instant
              </p>
            </div>
              <!-- <h4 class="card-title">Il n'a y pas des demandes à traiter pour l'instant</h4> -->
          </div>
          <br>

          <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
            <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
              <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
            </symbol>
            <symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
              <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
            </symbol>
            <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
              <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
            </symbol>
          </svg>



        </div>
        <div class="card container-fluid"  *ngIf="tableStatus()">


            <div class="card-header ">
              <h4 class="card-title ">
              <p class="text-center h2 txt-color"> Liste des Demandes Acceptées</p>
                        <div class="d-flex flex-row justify-content-center m-0">
                          <hr class="col-8 m-1 align-self-center">
                        </div>

                      </h4>
            </div>
            <div class="card-body table-full-width table-responsive">
              <div class="form-group">
                <div class="list-group" *ngFor="let demande of listDemandeValid">

                  <a  class="list-group-item list-group-item-action list-item-color p-3 my-3 shadow" routerLink="/document/{{ demande.demandeCredit.id }}/{{ demande.demandeCredit.type }}">
                    <div class="d-flex w-100 justify-content-between">
                      <h5 class="mb-1 fw-bolder">{{ demande.demandeCredit.client.nom | uppercase}}  {{ demande.demandeCredit.client.prenom  | uppercase }}</h5>
                      <h5 class="text-muted"><span class="badge rounded-pill bg-warning text-dark">{{ demande.dateModification}} </span></h5>
                      <!-- getDate() | date -->
                    </div>
                    <p class="mb-1 text-muted">Email :  {{ demande.demandeCredit.client.email }} </p>
                    <small class="text-muted">Type credit :   <span class="badge bg-secondary text-white">{{ demande.demandeCredit.type | uppercase}}</span> </small>
                    <!-- <button class="btn btn-info btn-fill pull-right" (click)="sendMail()">envoyer Mail</button> -->

                  </a>

                </div>
              </div>

            </div>


        </div>
      </div>
    </div>
  </div>
</div>
